# Copyright (c) 2024 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_LUXERIA_LEFT
    def_bool $(shields_list_contains,luxeria_left)

config SHIELD_LUXERIA_RIGHT
    def_bool $(shields_list_contains,luxeria_right)
